.navlink,
.menu-label {
  font-family: var(--ff-secondary);
}

@media all and (min-width: 575px) {
  .menu-label {
    visibility: hidden;
  }

  .navbar-nav {
    margin: auto;
  }

  .nav-link {
    font-size: 20px;
  }

  .nav-link:hover {
    font-weight: 900;
    font-style: oblique;
  }
}
