.gallery-container {
  display: flex;
  flex-direction: column;
  border: solid 1px red;
  width: 80%;
  margin: auto;
}

@media all and (min-width: 575px) {
  .gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
  }
}
