.piece-img {
  width: 100%;
}

h1 {
  font-family: var(--ff-secondary);
}
.image-container {
  padding: 0.5em;
}

@media screen and (min-width: 575px) {
  .image-container {
    max-width: 300px;
  }
  .piece-img {
    width: 100%;
  }
}
