.piece-img {
  width: 100%;
}

.image-container {
  padding: 0.5em;
}

h1 {
  font-family: var(--ff-secondary);
}

@media screen and (min-width: 575px) {
  .piece-img {
    width: fit-content;
    height: fit-content;
  }
  .image-container {
    height: 20%;
    width: 80%;
  }
}
